.project-card {
    width: calc(100%);
}

.project-card .card-image {
    width: 100%;
    height: 100%;
}

.project-card .card-subtitle {
    font-size: 16px;
}

.project-detail-div {
    text-align: center;
}

.project-card-footer {
    text-align: center;
}

@media (max-width: 976px) {
    .project-card {
        width: calc(100% / 2)
    }
}

@media (max-width: 768px) {
    .project-card {
        width: auto
    }
}