#topButton {
    visibility: hidden;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #55198b;
    color: white;
    cursor: pointer;
    padding: 13px;
    border-radius: 5px;
    font-size: 20px;
}

#topButton:hover {
    background-color: #43136c;
    transition: all ease-in-out 0.2s;
}