.repo-card-div {
    padding: 2rem;
    border-radius: 4px;
    cursor: pointer;
}

.repo-stats {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    font-size: 13px;
}

.repo-left-stat {
    -webkit-box-flex: 1;
    flex-grow: 1;
    display: flex;
}

.language-color {
    width: 10px;
    height: 10px;
    background-color: blue;
    margin-right: 0.25rem;
    border-radius: 100%;
}

.repo-left-stat span {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-right: 0.75rem;
}

.repo-name-div {
    display: flex;
    align-items: center;
}

.repo-svg {
    margin-right: 0.5rem;
    min-width: 16px;
}

.repo-name {
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: 0.75rem;
    font-size: 25px;
    font-weight: 700;
    letter-spacing: -0.5px;
    overflow: hidden;
    margin: 0px;
}

.repo-star-svg {
    margin-right: 0.3rem;
}

.repo-description {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}